h1,
h2 {
  text-align: center;
}
#btn {
  overflow: hidden;
  list-style: none;
}
Button {
  width: 200px;
}
li {
  /* display: flex; */
  /* list-style: none; */
  float: left;
  justify-content: space-around;
  margin-right: 20px;
}
