h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 3em;
  text-align: center;
  line-height: 0.95em;
  font-weight: bold;
  text-shadow: 0 0.03em 0.03em #ffab91, 0 0.03em 0.03em #000,
    0 0.03em 0.03em #fbe9e7;
}
.title {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

#btn {
  overflow: hidden;
  list-style: none;
}
Button {
  width: 200px;
}
li {
  /* display: flex; */
  /* list-style: none; */
  float: left;
  justify-content: space-around;
  margin-right: 20px;
}
